/* Style for our header texts
	* --------------------------------------- */
h1 {
  font-size: 5em;
  font-family: arial, helvetica;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden;
}

.videoEmbed {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-image: /* our video */ ;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index: -999;
}

.hero_video,
.section iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw; /* 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* 16/9*100 = 177.77 */
  z-index: -999;
}

.hero iframe {
  opacity: 0;
}

.hero iframe.loaded {
  opacity: 1;
}

/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
#section0 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;

  /*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
  overflow: hidden;
}

/* Bottom menu
	* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important;
}
